
<div class="container-fluid albums">
	<div class="row">
		<div class="col-md-offset-1 col-md-8">
			<% if @albums.exists? %>
				<% @albums.order(created_at: :desc).each do |album| %>
				    <%= link_to album_path(album.id), data: {"turbolinks" => false}, class:"album-link" do %>
						<div class="album-box">
							<div class="album-name">
							    <h2><%= album.name %></h2>
						    </div>
						    <div class="album-image">
						    	<% album.posts.first(3).each do |post| %>
								<%= attachment_image_tag post, :post_image, :fill, 100, 100, format:"jpg", fallback:"no_image.jpg", size:"100x100" %>
								<% end %>
						    </div>
						    <div class="album-post">
								<h3>計 <%= album.posts.count %> 枚</h3>
							</div>
						</div>
					<% end %>
				<% end %>
		    <% else %>
		        <h4>アルバムを作成していません</h4>
		    <% end %>
		</div>
	</div>
</div>