

<% current_user.albums.order(created_at: :desc).each do |album| %>
	<%= album.name %>
	<%= attachment_image_tag album.posts.last, :post_image, :fill, 100, 100, format:"jpg", fallback:"no_image.jpg", size:"100x100" %>
	<h4>計 <%= album.posts.count %> 枚</h4>
	<%= link_to "このアルバムに追加", album_posts_album_in_path(album, @post.id), method: :post, class:"btn" %>
<% end %>