<div class="container-fluid about">

	<div class="row">
		<div class="about-visual">
			<div class="col-md-offset-3 col-md-6">
				<div class="about-visual-text">
					<h2>すべてのアクアリストのための<br><br>
						コミュニティサイトです
					</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h1 class="heading">Functions</h1>
		</div>
		<div class="col-md-offset-3 col-md-6">
			<div class="about-post">
				<h2><i class="far fa-caret-square-right"></i> 投稿する</h2>
				<h4 class="text">右上のオレンジ色の投稿ボタンから自分のアクアリウム写真を投稿することができます。投稿する際はタイトルと説明文をつけられます。</h4>
			</div>
		</div>

		<div class="col-md-offset-3 col-md-6">
			<div class="about-room">
				<h2><i class="far fa-caret-square-right"></i> トークする</h2>
				<h4 class="text">ヘッダーの"Talk"ボタンからトークルームでリアルタイムチャットをすることができます。トーク一覧のページで新しくトークルームを作成することもできます。トークには節度を持って参加しましょう。</h4>
			</div>
		</div>

		<div class="col-md-offset-3 col-md-6">
			<div class="about-search">
				<h2><i class="far fa-caret-square-right"></i> 検索する</h2>
				<h4 class="text">ヘッダーの検索バーからみんなの投稿を検索できます。検索はタイトルと投稿の説明文に含まれている文字を検索します。気になるワードで検索してみてください。</h4>
			</div>
		</div>

		<div class="col-md-offset-3 col-md-6">
			<div class="about-like">
				<h2><i class="far fa-caret-square-right"></i> いいねする</h2>
				<h4 class="text">気に入った投稿にはいいねをすることができます。自分の投稿にいいねすることはできません。</h4>
			</div>
		</div>

		<div class="col-md-offset-3 col-md-6">
			<div class="about-album">
				<h2><i class="far fa-caret-square-right"></i> アルバムに追加する</h2>
				<h4 class="text">投稿をアルバムに追加することができます。お気に入りの投稿をまとめたり、自分の水槽の成長過程をまとめたりすることができます。</h4>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h1 class="heading">Technologies</h1>
		</div>

		<div class="col-md-offset-2 col-md-2">
			<%= image_tag '/images/html.svg.png', size:"160x120", alt:"htmlロゴ" %>
		</div>
		<div class="col-md-2">
			<%= image_tag '/images/css3.png', size:"120x120", alt:"cssロゴ" %>
		</div>
		<div class="col-md-2">
			<%= image_tag '/images/rails.png', size:"180x120", alt:"railsロゴ" %>
		</div>
		<div class="col-md-2">
			<%= image_tag '/images/js2.svg', size:"180x120", alt:"jsロゴ" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h1 class="heading">Auther</h1>
		</div>

		<div class="col-md-offset-3 col-6">
			<h2>Koichiro Matsumoto</h2>
		</div>
		<div class="col-md-offset-3 col-6 auther-info">
			<h4>hobby : 音楽鑑賞、ベースを弾く、バスケットボール、アクアリウム、ゲーム</h4>
			<h4>Github : <a href="https://github.com/koichiromatsumoto/">https://github.com/koichiromatsumoto/</a></h4>
		</div>
	</div>

</div>






