<div class="container post-index">

    <div class="index-cont">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="post-order">
					<ul id="tab-menu">
						<a href="#tab1" class="active"><li>新着</li></a>
						<a href="#tab2" class=""><li>トレンド</li></a>
						<li></li>
						<li></li>
			        </ul>
			    </div>
			</div>
		</div>

        <div id="tab-contents">
        	<div id="tab1" class="tab">
				<div class="row index-box late-posts">
					<div id="late_posts">
						<%= render partial: 'posts/late_posts', locals: {post: @late_posts} %>
					</div>
				</div>
			</div>

			<div id="tab2" class="tab">
				<div class="row index-box trend-posts">
					<div id="trend_posts">
						<%= render partial: 'posts/trend_posts', locals: {post: @trend_posts} %>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>