<div class="container post-index">

    <div class="index-cont">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div class="search-word">
					<h3>検索ワード：
			            <% if params[:q].present? && params[:q][:title_or_text_cont].present? %>
						    <%= params[:q][:title_or_text_cont] %>
						<% else %>
						    指定なし
						<% end %>
				    </h3>
				</div>
				<div class="post-order">
					<ul id="tab-menu">
						<a href="#tab1" class="active"><li>新着</li></a>
						<a href="#tab2" class=""><li>トレンド</li></a>
						<li></li>
						<li></li>
			        </ul>
			    </div>
			</div>
		</div>

        <div id="tab-contents">
        	<div id="tab1" class="tab">
        		<% if @search_late_posts.exists? %>
					<div class="row index-box late-posts">
						<div id="late_search">
							<%= render partial: 'posts/late_search', locals: {post: @late_search_posts} %>
						</div>
					</div>
				<% else %>
				    <div class="row">
				    	<div class="col-md-offset-1 col-md-10">
				    		<h3 class="search-nothing">検索結果はありません</h3>
				    	</div>
				    </div>
				<% end %>
			</div>

			<div id="tab2" class="tab">
				<% if @search_trend_posts.exists? %>
					<div class="row index-box trend-posts">
						<div id="trend_search">
							<%= render partial: 'posts/trend_search', locals: {post: @trend_search_posts} %>
						</div>
					</div>
				<% else %>
				    <div class="row">
				    	<div class="col-md-offset-1 col-md-10">
				    		<h3 class="search-nothing">検索結果はありません</h3>
				    	</div>
				    </div>
				<% end %>
			</div>
		</div>

	</div>

</div>