// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-show .heading{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.album-show .album-destroy{
	margin-bottom: 20px;
}

.album-show .btn-withdrawuser{
	margin-top: 5px;
}

.album-show .album-post{
	width: 100%;
	height: auto;
}

.album-show .post-content{
    margin-bottom: 60px;
}

.album-show .sidebar{
	margin-top: 150px;
}

.album-show .album-box{
	background-color: #dcdcdc;
	padding: 20px;
	border-radius: 6px;
	transition: .2s;
	margin-bottom: 30px;
}

.album-show .album-box:hover{
	background-color: #fff;
}

.album-show .album-link{
    color: #000;
}

.album-show .album-link:hover{
	color: #000;
	text-decoration: none;
}

.album-show .album-box h2{
	margin-top: 0;
	width: 100%;
}

.album-show .album-image{
	display: inline-block;
}

.album-show .post-count{
	display: inline-block;
	width: 30%;
	text-align: right;
}