// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ログイン、新規登録ページ
.signup h2{
	margin-top: 50px;
	text-align: center;
}

.signin h2{
	margin-top: 50px;
	text-align: center;
}

.form-box{
	background: #fff;
	color: #000;
	padding: 30px;
	margin-top: 20px;
	box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
}

// マイページ
.user-name{
    line-height: 30px;
    padding-left: 40px;
    font-size: 45px;
    margin-top: 35px;
}

.user-introduction{
    font-size: 18px;
    width: 80%;
    margin: 35px auto 0 auto;
}

.user-profileimage{
	margin: 10px auto;
	display: block;
    height: 0;
    max-width: 70%;
    padding-bottom: 70%;
    position: relative;
}

.img-user {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
}

#modal-open:hover {
    cursor: pointer;
}

.mypage-nav{
	width: 90%;
	margin: 0 auto;
	box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
}

.mypage-nav .container-fluid{
	padding: 0;
}

.mypage-nav .navbar-nav{
	width: 100%;
}

.mypage-nav li{
	width: 20%;
	font-size: 18px;
	text-align: center;
}

#tab-menu .active {
	background-color: orange;
	border-bottom: none;
	color: #fff;
	border-radius: 4px;
}

.follow{
	width: 100%;
	text-align: center;
}

.follow a{
	color: #fff;
	text-decoration: none;
}

.follow a:hover{
	color: #e0ffff;
	text-decoration: none;
}

.follow a:active{
	color: #e0ffff;
	text-decoration: none;
}

.list{
	margin-bottom: 15px;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}

.list:hover{
    text-decoration: none;
    color: orange;
}

.timeline .timeline-box{
	margin-top: 20px;
	background: #fff;
	width: 100%;
	padding-bottom: 30px;
	border-radius: 4px;
	box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
}

.timeline .timeline-heading{
	background-color: #e0ffff;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.timeline h4{
	text-align: center;
	color: #000;
}

.timeline-post{
	width: 90%;
	margin: 0 auto;
}

.timeline-post-image{
	margin-top: 15px;
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}

.timeline .no-timeline{
	color: #000;
	text-align: center;
    padding-top: 30px;
}

.user_posts .post{
	width: 93%;
	height: auto;
	margin: 20px auto;
}

.user_posts .post .post-img{
	width: 100%;
	height: auto;
}

.albums .album-box{
	background-color: #dcdcdc;
	padding: 20px;
	margin-top: 20px;
	border-radius: 6px;
	box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
	transition: .2s;
}

.albums .album-box:hover{
    background-color: #fff;
}

.albums .album-link{
    color: #000;
}

.albums .album-link:hover{
	color: #000;
	text-decoration: none;
}

.albums .album-box h2{
	margin-top: 0;
	width: 100%;
}

.albums .album-image{
	display: inline-block;
}

.albums .album-post{
	display: inline-block;
	width: 25%;
	text-align: right;
}

// ユーザ詳細（モーダル）
.modal-text h3{
    width: 60%;
    margin-left: 10px;
}
.modal-text p {
    margin-right: 15px;
    margin-top: 5px;
    font-size: 25px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-img-user{
	margin-top: 30px;
}

#user_img_prev{
	margin-top: 30px;
}

.modal-field{
	margin-left: 50px;
}

.js-modal-overlay {
    z-index: 20;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.75);
}

.user-show-close {
    color: #00f;
    text-decoration: underline;
    z-index: 40;
}

.user-show-close:hover {
    cursor: pointer;
    color: #f00;
}

.modal-box{
	margin-bottom: 30px;
}

.btn-success-user {
	margin-top: 20px;
	margin-left: 10px;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: 2px solid #67c5ff;
	border-radius: 3px;
	transition: .2s;
	cursor: pointer;
}

.btn-success-user:hover {
	background: #67c5ff;
	color: white;
	text-decoration: none;
}

.btn-success-user:action {
	text-decoration: none;
}

// ユーザ情報編集
.select-profile-image{
	margin-top: 20px;
}

.btn-withdrawuser {
	margin-top: 20px;
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #ff8b5f;
	border: 2px solid #ff8b5f;
	border-radius: 3px;
	transition: .2s;
}

.btn-withdrawuser:hover {
	background: #ff8b5f;
	color: white;
	text-decoration: none;
}

.btn-withdrawuser:active {
	text-decoration: none;
}

// ユーザ退会画面
.withdraw h2{
	width: 100%;
	text-align: center;
	margin-top: 60px;
}

.withdraw h4{
	width: 100%;
	text-indent: 1em;
}

.withdraw h3{
	width: 100%;
	margin-top: 40px;
	text-align: center;
}

.withdraw-box{
	border: 3px solid #aaa;
	width: 50%;
	margin: 30px auto;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
	color: #000;
	box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	-moz-box-shadow: 5px 5px 10px #000;
}

.withdraw .btn{
	width: 70%;
	margin-top: 100px;
}
